.form-container {
  display: grid;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 650px;
}

.item-11 {
  grid-area: intro;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding-left: 40px;
}

.item-12 {
  grid-area: form;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-right: 40px;
}

.item-13 {
  grid-area: profile;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 20px 0 0 180px;
  height: 45%;
  width: 45%;
  /* background-color: sandybrown; */
}

input {
  width: 80%;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
  margin-top: 8px;
  border-radius: 3px;
}

textarea {
  width: 80%;
  height: 60px;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
  margin-top: 8px;
  border-radius: 3px;
}

label {
  float: left;
  text-align: left;
  width: 450px;
  font-size: 11px;
  color: #656D78;
}

.first-line {
  font-size: 20px;
  font-style: bold;
  color: #656D78;
  margin-bottom: 0;
}

.second-line {
  font-style: 8px;
  margin-top: 5px;
}

.connect-button {
  height: 45px;
  width: 250px;
  color: white;
  background-color: #4A89DC;
  margin-top: 20px
}

span {
  color: #4A89DC
}

/* img {
  border-radius: 50%;
  display: block;
  margin: auto;
} */

.editProfile {
  color: #4285F4;
  text-align: center;
  font-size: 16px;
}
